-
  const sliders = [
    {
      type: 'double',
      title: 'Double slider:',
    },
    {
      type: 'single',
      title: 'Single slider:',
    },
    {
      type: 'vertical',
      title: 'Vertical slider:',
    },
    {
      type: 'default',
      title: 'Default slider:',
    },
  ];

  const togglers = [
    {
      class: 'demo-page__panel-input demo-page__panel-input_tooltip js-demo-page__panel-input js-demo-page__panel-input_tooltip',
      text: 'tooltips'
    },
    {
      class: 'demo-page__panel-input demo-page__panel-input_double js-demo-page__panel-input js-demo-page__panel-input_double',
      text: 'double'
    },
    {
      class: 'demo-page__panel-input demo-page__panel-input_range js-demo-page__panel-input js-demo-page__panel-input_range',
      text: 'range'
    },
    {
      class: 'demo-page__panel-input demo-page__panel-input_scale js-demo-page__panel-input js-demo-page__panel-input_scale',
      text: 'scale'
    },
    {
      class: 'demo-page__panel-input demo-page__panel-input_vertical js-demo-page__panel-input js-demo-page__panel-input_vertical',
      text: 'vertical'
    },
  ];

  const inputs = ['from', 'to', 'min', 'max', 'step'];

mixin panelToggler(options)
  label.demo-page__panel-toggle-label
    input(class=options.class type="checkbox")
    span.demo-page__panel-custom-toggle
    span.demo-page__panel-toggle-text=options.text

mixin panelInputs(valueType)
  -
    const valueTypeClassName = 'demo-page__panel-' + valueType + ' '
      + 'js-demo-page__panel-' + valueType;
    const inputClassName = 'demo-page__panel-' + valueType + '-input' + ' '
      + 'js-demo-page__panel-' + valueType + '-input';

  .demo-page__panel-input-container
    div(class=valueTypeClassName)=valueType
    input(class=inputClassName type="number")