html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  width: 500px;
  height: 8px;
}

.slider__line {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: #ddd;
  cursor: pointer;
}

.slider__between {
  display: flex;
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background-color: rgb(24, 51, 83);
}

.slider__first-button, .slider__second-button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 16px;
  width: 16px;
  cursor: pointer;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 50%;
  background-color: rgb(24, 51, 83);
}

.slider__min-value, .slider__max-value {
  position: absolute;
  top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.slider__first-tooltip, .slider__second-tooltip {
  position: absolute;
  bottom: 20px;
  min-width: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: rgb(24, 51, 83);
}
