html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.slider-container {
  margin: 200px 0 0 200px;
  width: 500px;
  height: 8px;
}

.js-slider {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.js-slider__stripe {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(202, 205, 209);
  border-radius: 8px;
  background-color: #fff;
  box-sizing: border-box;
  touch-action: none;
  cursor: pointer;
}

.js-slider__between {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: rgb(47, 50, 53);
  touch-action: none;
  z-index: 1;
}

.js-slider__first-button, .js-slider__second-button {
  position: absolute;
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: rgb(47, 50, 53);
  touch-action: none;
  cursor: pointer;
  z-index: 2;
}

.js-slider__min-value, .js-slider__max-value {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-family: Helvetica, Arial, sans-serif;
  min-width: 28px;
  height: 18px;
  font-size: 14px;
  font-weight: bold;
  background-color: rgb(202, 205, 209);
  color: #fff;
  box-sizing: border-box;
  border-radius: 4px;
  touch-action: none;
  cursor: pointer;
}

.js-slider__first-tooltip, .js-slider__second-tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  min-width: 30px;
  height: 18px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  background-color: rgb(47, 50, 53);
  touch-action: none;
}

.js-slider__scale-container {
  position: relative;
  display: flex;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: rgb(47, 50, 53);
  touch-action: none;
}

.js-slider__scale-element {
 position: absolute;
 touch-action: none;
}

.js-slider__panel-container {
  position: absolute; 
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 650px;
  cursor: default;
  touch-action: none;
}

.js-slider__text-inputs-container,
.js-slider__toggle-inputs-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.js-slider__vertical-input,
.js-slider__tooltip-input,
.js-slider__range-between-input,
.js-slider__scale-input
{
  margin: 5px;
  box-sizing: border-box;
}

.js-slider__min-input-container,
.js-slider__max-input-container,
.js-slider__from-input-container,
.js-slider__to-input-container,
.js-slider__step-input-container {
  margin: 5px;
  display: flex;
}

.js-slider__min-input, 
.js-slider__max-input, 
.js-slider__from-input, 
.js-slider__to-input, 
.js-slider__step-input 
{
  width: 65px;
  height: 26px;
  border: 2px solid rgb(47, 50, 53);
  border-radius: 0 4px 4px 0;
  font-size: 18px;
  box-sizing: border-box;
  z-index: 1;
  outline: none;
}

.js-slider__min-button,
.js-slider__max-button,
.js-slider__from-button,
.js-slider__to-button,
.js-slider__step-button {
  width: 45px;
  height: 26px;
  background-color: rgb(47, 50, 53);
  border-radius: 4px 0 0 4px;
  border: none;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  box-sizing: border-box;
  z-index: 2;
  cursor: pointer;
}

.js-slider__toggle-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 12px;
  line-height: 24px;
}

.js-slider__toggle-text {
  padding-left: 40px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.5;
}

.js-slider__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.js-slider__custom-toggle {
  position: absolute;
  display: flex;
  align-items: center;
  width: 38px;
  height: 18px;
  background-color: #fff;
  border: 1px solid rgb(47, 50, 53);
  opacity: 0.5;
  border-radius: 10px;
  box-sizing: content-box;
  z-index: 1;
  cursor: pointer;
}

.js-slider__custom-toggle:after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  margin: 0 3px;
  background: rgb(47, 50, 53);
  border-radius: 10px;
  -webkit-transition: .4s;
  transition: .4s;
}

.js-slider__input:checked ~ .js-slider__custom-toggle {
  opacity: 1;
}

.js-slider__input:checked ~ .js-slider__toggle-text {
  opacity: 1;
}

.js-slider__input:checked + .js-slider__custom-toggle:after {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

@media (hover: none) and (pointer: coarse) {
  .js-slider__stripe,
  .js-slider__first-button, 
  .js-slider__second-button,
  .js-slider__min-value, 
  .js-slider__max-value,
  .js-slider__min-button,
  .js-slider__max-button,
  .js-slider__from-button,
  .js-slider__to-button,
  .js-slider__step-button,
  .js-slider__custom-toggle {
    cursor: auto;
  }
}
